<div class="map-widget">
  <% if adventure.photo.attached? %>
    <%= cl_image_tag adventure.photo.key, height: 300, width: 400, crop: :fit, class: "map-widget-photo w-100" %>
  <% else %>
    <%= image_tag "https://source.unsplash.com/random", height: 300, width: 400, crop: :fill %>
  <% end %>
  <div class="map-widget-price"><i class="fas fa-euro-sign"></i>  <%= adventure.price %></div>
  <h4><strong><%= adventure.name %></strong></h4>
  <div class="widget-details"><i class="fas fa-user-friends"></i>  <%= adventure.number_of_guests %></div>
  <div class="widget-details"><i class="fas fa-map-pin"></i>  <%= adventure.location %></div>
  <%= link_to "Let's do this!", adventure, class: "btn btn-adventure w-100" %>
</div>
