<div class="cards-and-map">
  <div class="card-grid">
    <% @adventures.each do |adventure| %>
    <div class="card">
      <% if adventure.photo.attached? %>
      <%= cl_image_tag adventure.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
      <%= image_tag "https://source.unsplash.com/random", height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"> <strong><%= adventure.name %></strong></h5>
        <p class="card-text"><%= adventure.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: <strong><%= adventure.price %> euros / day</strong></li>
        <li class="list-group-item">Max # of participants: <strong><%= adventure.number_of_guests %></strong></li>
      </ul>
      <div class="card-body">
        <%= link_to "Let's do this!", adventure, class: "btn btn-adventure w-100" %>
      </div>
    </div>
    <% end %>
  </div>

  <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
    <div class="mapboxgl-ctrl-top-right">
      <div class="mapboxgl-ctrl mapboxgl-ctrl-group">
        <button class="mapboxgl-ctrl-zoom-in" type="button" title="Zoom in" aria-label="Zoom in"><span class="mapboxgl-ctrl-icon" aria-hidden="true"></span></button>
        <button class="mapboxgl-ctrl-zoom-out" type="button" title="Zoom out" aria-label="Zoom out"><span class="mapboxgl-ctrl-icon" aria-hidden="true"></span></button>
        <button class="mapboxgl-ctrl-compass" type="button" title="Reset bearing to north" aria-label="Reset bearing to north"><span class="mapboxgl-ctrl-icon" aria-hidden="true" style="transform: rotate(0deg);"></span></button>
      </div>
    </div>
  </div>
</div>
