<ul>
  <% @adventures.each do |adventure| %>
  <li>
    <h3><%= adventure.name %></h3>
    <p><%= adventure.location %></p>
    <p><%= adventure.price %></p>
    <p><%= adventure.description %></p>
    <p>Available languages: <%= adventure.languages %></p>
    <p>Number of guests: <%= adventure.number_of_guests %></p>
  </li>
  <% end %>
</ul>

<%= link_to "Create adventure", new_adventure_path  %>

