<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 col-sm-8">
      <br>
      <h1>List an adventure</h1>
      <br>
      <%= simple_form_for @adventure do |f| %>
      <%= f.input :name %>
      <%= f.input :number_of_guests %>
      <%= f.input :price  %>
      <%= f.input :languages  %>
      <%= f.input :description  %>
      <%= f.input :location  %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "List adventure", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

