<!-- IMAGE GOES HERE -->

<div class="container pt-3">
  <div class="row">
    <div class="col-8">

      <div class="card-show">
        <% if @adventure.photo.attached? %>
        <%= cl_image_tag @adventure.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
        <%= image_tag "https://source.unsplash.com/random/400x300", crop: :fill, class: "pb-3" %>
        <% end %>
        <div class="card-show-price"><i class="fas fa-euro-sign"></i> <%= @adventure.price %></div>
        <div class="card-body">
          <h2 class="card-title"><strong><%= @adventure.name %></strong></h2>
          <p class="card-text"><em><%= @adventure.description %></em></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fas fa-user-friends"></i><%= @adventure.number_of_guests %></li>
          <li class="list-group-item"><i class="fas fa-globe"></i><%= @adventure.languages %></li>
        </ul>
      </div>

      <div class="card-show">
        <div class="card-show-text">
          <h3 class="card-title"><strong>Meetup point:</strong></h3>
          <p class="card-text"><i class="fas fa-map-pin"></i><%= @adventure.location %></p>
        </div>
        <div
        id="map"
        style="width: 100%;
        height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>

      <div class="card-show">
        <div class="card-show-text">
          <h4>Reviews</h2>
        </div>
          <% @adventure.bookings.each do |booking| %>
          <% booking.reviews.each do |review| %>
          <div class="review">
            <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
            <div class="review-content">
              <div class="review-rating d-flex">
                <h4><%= review.title %></h4>
                <div class="review-rating-stars d-flex">
                  <% review.rating.times do %>
                  <p>&#9733</p>
                  <% end %>
                </div>
              </div>
              <p><%= review.content %></p>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>

        <div class="card-show">
          <%= link_to 'Back to list', adventures_path, class: "btn btn-adventure w-100"%>
        </div>
      </div>

      <div class="col-4">
        <div class="sticky-top">
          <div class="card-show">
            <div class="booking-card-main">
            <h3 class="card-title"><strong>Book adventure</strong></h3>
            <p class="card-text"><%= @adventure.price %> € / day</p>
            </div>
            <div class="card-body">
            <%= simple_form_for [@adventure, @booking] do |f| %>
            <%= f.input :start_date, as: :date, html5: true %>
            <%= f.input :end_date, as: :date, html5: true %>
            <%= f.input :nr_of_booked_guests, label: 'Number of guests' %>
            <label class="btn btn-adventure btn-block">
              Request booking
              <span style="display:none;">
                <%= f.submit link_to "Request booking", dashboard_path, class: "btn btn-primary" %>
              </span>
            </label>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <%#= link_to 'Book Adventure!', new_adventure_booking_path(@adventure) %> -->
  </div>


<!-- t.integer "number_of_guests"
t.string "location"
t.integer "price"
t.string "languages"
t.text "description"
t.bigint "user_id"
t.string "name" -->
