<!-- IMAGE GOES HERE -->

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card-show">
        <% if @adventure.photo.attached? %>
        <%= cl_image_tag @adventure.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
        <%= image_tag "https://source.unsplash.com/random/400x300", crop: :fill, class: "pb-3" %>
        <% end %>
        <div class="card-show-price"><i class="fas fa-euro-sign"></i> <%= @adventure.price %></div>
        <div class="card-show-text">
          <h2><%= @adventure.name %></h2>
          <li>No. of guests: <%= @adventure.number_of_guests %></li>
          <li>Supported languages: <%= @adventure.languages %></li>
          <li>Description: <%= @adventure.description %></li>
        </div>
      </div>
      <div class="card-show">
        <div class="card-show-text">
          <h4>Meetup point:</h4>
          <h5><%= @adventure.location %></h5> <!-- EVENTUALLY MAKE THIS INTO MAP -->
        </div>
        <div
        id="map"
        style="width: 100%;
        height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>

      <div class="card-show">
        <%= link_to 'Back to list', adventures_path, class: "btn btn-adventure w-100"%>
      </div>
    </div>

    <div class="col-4">
      <div class="sticky-top">
        <div class="card-show">
          <h3><%= @adventure.price %> € / day</h3>
          <%= simple_form_for [@adventure, @booking] do |f| %>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date, as: :date, html5: true %>
          <%= f.input :nr_of_booked_guests, label: 'Number of guests' %>
          <%= f.submit link_to "Request booking", dashboard_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- <%#= link_to 'Book Adventure!', new_adventure_booking_path(@adventure) %> -->
</div>


<!-- t.integer "number_of_guests"
t.string "location"
t.integer "price"
t.string "languages"
t.text "description"
t.bigint "user_id"
t.string "name" -->
