<!-- IMAGE GOES HERE -->

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card-show">
        <%= cl_image_tag @adventure.photo.key, height: 300, width: 400, crop: :fill %>
        <h2><%= @adventure.name %></h2>
          <li><%= @adventure.number_of_guests %></li>
          <li><%= @adventure.languages %></li>
          <li><%= @adventure.description %></li>
      </div>
      <div class="card-show">
        <h3>Meetup point for your adventure:</h3>
        <h5><%= @adventure.location %></h5> <!-- EVENTUALLY MAKE THIS INTO MAP -->
        <img src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiamdrYnVybmVyIiwiYSI6ImNrN3Z3MW5nYzAyNjYzbnFuMnB5aW4yNzMifQ.oWMlL1-03HBJ-sCks4MeMg'>
      </div>

      <div class="card-show">
        <%= link_to 'Back to list', adventures_path, class: "btn btn-warning w-100"%>
      </div>

    </div>


    <div class="col-4">
      <div class="card-show">
        <h3>X€</h3>
        <p>(Price per day)</p>
        <h4> Start date </h4>
          <p>ADD FORM</p>
        <h4> End date date </h4>
          <p>ADD FORM</p>
        <a href="#" class="btn btn-primary w-100">Request booking</a>
      </div>
    </div>
  </div>
  <!-- <%#= link_to 'Book Adventure!', new_adventure_booking_path(@adventure) %> -->
</div>



<!-- t.integer "number_of_guests"
t.string "location"
t.integer "price"
t.string "languages"
t.text "description"
t.bigint "user_id"
t.string "name" -->
